@import 'todo_list.css';
@import 'user_profile.css';

#checkBtn {
  cursor: pointer;
}

a {
  text-decoration-line: none;
}
ul {
  padding: 0;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  background-color: rgb(255, 251, 217);
  font-family: 'Nunito', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#todolist_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

header {
  display: block;
  margin-bottom: 50px;
  width: 1000px;
}
