#check_icon {
  width: 20px;
  margin-right: 10px;
  filter: invert(22%) sepia(0%) saturate(2058%) hue-rotate(143deg)
    brightness(94%) contrast(73%);
}
#todo_category {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #3f3f3f;
  left: 134.91px;
  top: 269.74px;
  line-height: 29px;
  width: 230px;
  height: 45px;
  background: #e3f8ff;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 20px;
}

#plus_icon {
  font-size: 30px;
  cursor: pointer;
}

.main_page {
  display: flex;
}

input {
  text-align: center;
  border: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.todo_input_cancel {
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Dongle', sans-serif;
  width: 500px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

li {
  display: flex;
  list-style: none;
  font-size: 40px;
  padding-bottom: 10px;
}

.todo_edit_btn {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin-left: 10px;
}

.todo_remove_btn {
  font-size: 18px;
}
